<!DOCTYPE html>

<html>

<head>
    <title>airports</title>
    <link rel="icon" href="/img/weather.png">   
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{epictext}}</p>
    </div>
    
    {{>footer}}
</body>
    
</html>